{% extends "base.html" %}

{% block content %}
<div>
<h4 class="display-14 text-center">Enter New Graduate Student</h4>
<br/>
</div>
<div class="list-group list-group-horizontal">
  <table width="100%" class="display-16 text-center">
    <tr>
      <td><h6 class="display-16 text-center">Basic Personal<br/> Information</h6></td>
      <td><h6 class="display-16 text-center">Addresses<br/>(Mailing and Email)</h6></td>
      <td><h6 class="display-16 text-center">Image</h6></td>
      <td><h6 class="display-16 text-center">Grad Student<br/>Profile</h6></td>
      <td><h6 class="display-16 text-center">Grad Student<br/>Requirements</h6></td>
      <td><h6 class="display-16 text-center">Grad Student<br/>Support Information</h6></td>
    </tr>
    <tr>
      <td>
        <h4><i class="fas fa-user" data-toggle="tooltip" title="Hooray!"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-address-card"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-camera"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-list"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-check-square"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-life-ring"></i></h4>
      </td>
    </tr>
  </table>
</div>

<div class="progress-bar" style="width:34%">&nbsp;</div>

{% endblock %}
