{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div>
  <h4 class="display-14 text-center">Enter New Graduate Student - Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>
  <br />
</div>
<div class="list-group list-group-horizontal">
  <table width="100%" class="display-16 text-center">
    <tr>
      <td>
        <h6 class="display-25 text-center">Basic Personal<br /> Information</h6>
      </td>
      <td>
        <h6 class="display-25 text-center">Mailing Address</h6>
      </td>
      <td>
        <h6 class="display-25 text-center">Email Address</h6>
      </td>
      <td>
        <h6 class="display-25 text-center">Grad Student<br />Profile</h6>
      </td>
    </tr>
    <tr>
      <td>
        <h4><i class="fas fa-user" data-toggle="tooltip" title="Hooray!"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-envelope"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-desktop"></i></h4>
      </td>
      <td>
        <h4><i class="fas fa-list"></i></h4>
      </td>
    </tr>
  </table>
</div>

<div class="progress-bar" style="width:75%">&nbsp;</div>
<br />
<br /><div class="row justify-content-center">
  <div class="col-auto">
<form action="" method="post">
  {% csrf_token %}
  <table>
  {{ wizard.management_form }}

  {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
      {{ form }}
    {% endfor %}
  {% else %}
    {{ wizard.form }}
  {% endif %}
  </table>
  </div></div>
<br/>
<div class="display-100 text-center">
  <br />
  <br />
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"><< First</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">< Previous</button>
  {% endif %}
  <input type="submit" value="Next >">
</div>
</form>

<script>

var emailaddressclassSelect = document.getElementById("id_newstudent2-emailaddressclassid");
var confidentialitySelect = document.getElementById("id_newstudent2-confidentialityid");

//Set selected
setSelectedValue(emailaddressclassSelect, "Personal");
setSelectedValue(confidentialitySelect, "Public");

function setSelectedValue(selectObj, valueToSet) {
    for (var i = 0; i < selectObj.options.length; i++) {
        if (selectObj.options[i].text== valueToSet) {
            selectObj.options[i].selected = true;
            return;
        }
    }
}

</script>


{% endblock %}
