{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br />
<h2>{{ action }} Address for '{{firstname}} {{lastname}}'</h2>
<br />
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.personid.as_hidden }}
    <div class="form-row">
      <div class="col-lg-4">{{ form.address0|as_crispy_field }}</div>
      <div class="col-lg-4">{{ form.address1|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-lg-4">{{ form.address2|as_crispy_field }}</div>
      <div class="col-lg-4">{{ form.address3|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-lg-4">{{ form.address4|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-lg-4">{{ form.city|as_crispy_field }}</div>
      <div class="col-lg-2">{{ form.stateid|as_crispy_field }}</div>
      <div class="col-lg-2">{{ form.zip|as_crispy_field }}</div>
      </div>
      <div class="form-row">
      <div class="col-lg-4">{{ form.countryid|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-lg-2">{{ form.addresstypeid|as_crispy_field }}</div>
      <div class="col-lg-2">{{ form.confidentialitylevelid|as_crispy_field }}</div>
    </div>
  </div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
