{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br />
<h2>Add Research Info for '{{firstname}} {{lastname}}'</h2>
<br />
<form action="" method="post">
  {% csrf_token %}
  {{ form.personid.as_hidden }}
  <div class="form-row">
    <div class="col-lg-12">{{ form.researchqualifications|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="col-lg-12">{{ form.researchinterest|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="col-lg-12">{{ form.lastupdated|as_crispy_field }}</div>
  </div>
  <input type="submit" value="Submit">
</form>

{% endblock %}
